.t__blue {
    color: #0099ff !important;
}
.t__top-menu {
    font-size: 18px !important;
    line-height: 1.7 !important;
}
.t__title {
    font-size: 25px !important;
    line-height: 1.7 !important;
}
.t__body {
    font-size: 17px !important;
    line-height: 2 !important;
}
.b1 {
    font-size: 38px !important;
    line-height: 1.7 !important;
    font-weight: bold !important;
}
.b2 {
    font-size: 37px !important;
    line-height: 1.7 !important;
    font-weight: bold !important;
}
.b3 {
    font-size: 36px !important;
    line-height: 1.7 !important;
    font-weight: bold !important;
}
.b4 {
    font-size: 35px !important;
    line-height: 1.7 !important;
    font-weight: bold !important;
}

.dis_flex_margin_bo_3rem{
  display: flex;
  margin-bottom: 3rem;
}
.t__body img{
  width:60%
}
.blank_4rem{
  height:4rem
}